{{ define "github-standards-pass-rate" }}

<p class="govuk-body">There are <strong>{{ .PassedBaseline }}</strong> out of <strong>{{ .Total }}</strong> <strong>({{ .Percentage }}%)</strong> repositories passing the baseline standards.</p>

{{ end }}

