{{ define "aws-costs-monthly" }}
    {{ template "head" . }}

    <h1 class="govuk-heading-l">AWS Costs</h1>

    {{ if .Result }}

        <div class='scroller'>
        {{ template "aws-costs-currency-table" . }}
        </div>

        {{ template "result-notes" . }}
    {{ else }}
        {{ template "no-result" . }}
    {{end}}


    {{ template "foot" . }}

{{ end }}
