# data files and directories
**/data/*.csv
**/data*/**/*.csv
*.csv
**/data/*.json
**/data*/**/*.json
*.db*
# build dir
*builds/**
*bin/**
build.log
# code coverage and test output files
code-coverage.out
report.xml
test-results.json
# assets pulled over from govuk via make
**/govuk**
# terraform folders and files
**/.terraform/*
*.tfstate
*.tfstate.*
*.tfvars
# generated go docs
docs/go/**
