#
**/data/*.json
**/data/**/*.json
**data**/*
# build dir
builds/*
# code coverage output file
code-coverage.out
# assets pulled over from govuk via make
**/assets/css*
**/assets/fonts*
**/assets/images*
**/assets/manifest.json
