# Ignore database and sql files
*.db
*.db-*
*.sql
# Ignore code coverage files
code-coverage.out
# Ignore openapi generated spec
openapi.yaml
# Ignore build folders
builds/**
# Ignore data files
**/data/**
# Ignore the downloaded govuk assets
servers/front/assets
# Ignore todo / temp files
todo.txt
scratch.txt
