{{ define "dynamic-github-standards-list" }}
    {{ template "head" . }}
    {{ $hc := .HeadingCounter }}
    <h1 class="govuk-heading-l">Repository Standards</h1>


    {{if .Result }}

    {{end}}

    {{ template "foot" . }}

{{ end }}
