/******************************************************************************************
* APP CSS
* Styles relating to custom /new css for this application only
* See GOVUK block below for overwrites to the govuk css
*******************************************************************************************/

/*
As we want a secondary nav on the left, we are not using the `.govuk-width-container` class
as an outer wrapper, instead we use custom class to add left/right padding
*/
.app-container {
    padding-left: 4%;
    padding-right: 4%;
    display: flex;
    position: relative;
    flex: 1 1 100%;
}


/*
Adding padding to the top of the main content area for spacing
*/
#main-content{
    padding-top:30px;
    flex: 1 1 100%
}

#side-navigation{
    padding-top:30px;
    flex: 0 0 auto;
    width: 200px;
}

/*
Highlight billing instability on cost tables
*/
.reports-table .reports-table-value.unstable,
.example-unstable
{
    color: #d53880;
}

/******************************************************************************************
* GOVUK Overrides
* Styles relating overwrites to the govuk css
*******************************************************************************************/
/*
    Increase the width of the main container class so we can use more of the space,
    especially for data tables
*/
@media (min-width: 1280px) {
    .reports .govuk-width-container {
        max-width: 1200px;
    }
}

@media (min-width: 1536px) {
    .reports .govuk-width-container {
        max-width: 1400px;
    }
}
/*
    Size overwrites classes to adjust font-sizes of content Used to shrink size of fonts /
    data within large tables
*/
.reports-font-m .govuk-table{
    font-size:1rem;
}

.reports-font-s .govuk-table{
    font-size:0.9rem;
}
.reports-font-s .govuk-table__cell,
.reports-font-s .govuk-table__header{
    padding:5px 8px 5px 0;
}

/*
    Reduce margin on the first big header on the pages
*/
.govuk-heading-xl.compact-header{
    margin-bottom: 20px;
}
