{{ define "aws-costs-monthly-tax-totals" }}

    <h2 class="govuk-heading-m">Monthly Totals</h2>

    <p class="govuk-body">Our AWS costs grouped by month, seperating out the tax charges for easier comparison to finance data.</p>
    <hr class="govuk-section-break govuk-section-break--m govuk-section-break--visible">


    <div class='scroller js-compare-table hide-service-header'>
        {{ template "aws-costs-currency-table" .  }}
    </div>

    {{ template "result-notes" . }}


{{ end }}
